<h1>Members</h1>

<% @order.each do |member| %>
<% if member["house"] == @house_name %>
  <h3>Name: <%= member["name"] %></h3>
    <% if member["role"] %>
      <h3>Role: <%= member["role"] %></h3>
    <% end %>
  <h3>House: <%= member["house"] %></h3>
    <% if member["patronus"] %>
      <h3>Patronus: <%= member["patronus"] %></h3>
      <% end %>
  <% end %>
<% end %>
